@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}
body {
	min-width: 100vw;
	min-height: 100vh;
	background-color: #232527;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}
.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20vh;
}
.app > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 50px;
}
.form__title {
	font-size: 22px;
	color: #edecef;
	text-align: center;
	cursor: default;
}
.form__content {
	min-height: 150px;
}
.form__select {
	width: 200px;
	font-size: 22px;
	cursor: pointer !important;
}
.form__date {
	display: flex;
	column-gap: 25px;
	align-items: center;
	justify-content: center;
}
.form__date__select {
	width: 185px;
	font-size: 22px;
	cursor: pointer !important;
}
.form__datepicker__input {
	width: 185px;
	padding: 7px;
	text-align: center;
	font-size: 22px;
	border-radius: 0.2em;
	cursor: pointer;
}
.form__comment {
	resize: vertical;
	width: 600px;
	min-height: 125px;
	padding: 10px 5px;
	font-size: 18px;
	border-radius: 0.5em;
}
.form__buttons {
	display: flex;
	column-gap: 40px;
}
.form__button {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0;
	padding: 10px 0;
	border-radius: 0.5em;
	font-size: 22px;
	cursor: pointer;
	transition: 0.3s;
}
.form__button:hover {
	column-gap: 25px;
}
.form__button:disabled {
	filter: blur(2px) opacity(0.75);
	column-gap: 0 !important;
	cursor: default;
}
.form__button__confirm {
	width: 300px;
	column-gap: 25px;
}
